* {
    box-sizing: border-box;
}
/* ---------------------------------------BANNER---------------------------------------- */
.outer {

    display: flex;
    background-color: rgb(169, 208, 208);
    color: rgb(114, 41, 198);
    font-size: larger;
}

#banner {
    height: 95vh;
    background-image: url('../images/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

a:link {
    border-radius: 7px;
    text-decoration: none;
    color: rgb(54, 71, 118);
}

a:hover {
    transition-duration: 1000ms;
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(115, 255, 0);
}

.banner1 {
    /* font-family: 'Arial', sans-serif; */
    text-align: center;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.btn {
    flex: -1;
    padding-top: 12%;
}


.button {
    font-family: 'Consolas', sans-serif;
    font-size: larger;
    color: white;
    background-color: transparent;
    border-style: none;
    border-radius: 7px;
}

.button:hover {
    transition-duration: 1000ms;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}

/* -----------------------------------------NAVBAR--------------------------------------------- */

.topnav>a {
    padding: 8px 8px;
    font-size: 20px;
    color: white;
    /* padding-left: 2%;
    padding-right: 2%; */
}

.topnav {
    display: flex;

    position: sticky;
    top: 0;

    background-color: rgb(34, 42, 53);

    justify-content: space-around;
}

#menu {
    color: black;
}

.header {
    text-align: center;
}

.note {
    padding: 0% 3% 1% 3%;
}

.img1 img {
    max-height: 30vh;
    max-width: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: #585858;
}

section {
    background-color: rgb(234, 231, 231);
    margin: 2rem 6rem;
    padding: 2rem 1rem 1rem 1rem;
    border-style: solid;
    border-radius: 12px;
    border-color: #585858;
}

#about {
    background-color: rgb(225, 220, 201);
}

/* -----------------------------------------------EDUCATION--------------------------------------------- */

#holder {
    overflow: none;
    text-align: justify;
}

#one, #two, #three, #four {
    display: inline-block;
    background-color: #eee;
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
    overflow-y: scroll;
}


/* ------------------------------------ SKILLS------------------------------ */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;

}

.flex-item-java {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-php {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

.flex-item-c {
    background-color: #d45353;
    padding: 10px;
    flex: 50%;
}

.flex-item-sqp {
    background-color: rgb(31, 240, 132);
    padding: 10px;
    flex: 50%;
}

.flex-item-html {
    background-color: rgb(65, 163, 112);
    padding: 10px;
    flex: 50%;
}

/* -----------------------------------------------GRAPH----------------------------------------- */

.graph {
    margin-bottom: 1em;
    font: normal 100%/150% arial, helvetica, sans-serif;
    margin: auto;
}

.graph tbody th {
    text-align: right;
}

@supports (display:grid) {

    @media (min-width:32em) {

        .graph {
            display: block;
            width: 600px;
            height: 300px;
        }

        .graph caption {
            display: block;
        }

        .graph thead {
            display: none;
        }

        .graph tbody {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
            column-gap: 2.5%;
            align-items: end;
            height: 100%;
            margin: 3em 0 1em 2.8em;
            padding: 0 1em;
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            background: repeating-linear-gradient(180deg,
                    rgba(170, 170, 170, 0.7) 0,
                    rgba(170, 170, 170, 0.7) 1px,
                    transparent 1px,
                    transparent 20%);
        }

        .graph tbody:before,
        .graph tbody:after {
            position: absolute;
            left: -3.2em;
            width: 2.8em;
            text-align: right;
            font: bold 80%/120% arial, helvetica, sans-serif;
        }

        .graph tbody:before {
            content: "100%";
            top: -0.6em;
        }

        .graph tbody:after {
            content: "0%";
            bottom: -0.6em;
        }

        .graph tr {
            position: relative;
            display: block;
        }

        .graph tr:hover {
            z-index: 999;
        }

        .graph th,
        .graph td {
            display: block;
            text-align: center;
        }

        .graph tbody th {
            position: absolute;
            top: -3em;
            left: 0;
            width: 100%;
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            text-indent: 0;
        }

        .graph tbody th:after {
            content: "";
        }

        .graph td {
            width: 100%;
            height: 100%;
            background: #F63;
            border-radius: 0.5em 0.5em 0 0;
            transition: background 0.5s;
        }

        .graph tr:hover td {
            opacity: 0.7;
        }

        .graph td span {
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0;
            padding: 0.5em 0;
            margin: -1em 0 0;
            font: normal 85%/120% arial, helvetica, sans-serif;
            font-weight: bold;
            opacity: 0;
            transition: opacity 0.5s;
            color: white;
        }

        .toggleGraph:checked+table td span,
        .graph tr:hover td span {
            width: 4em;
            margin-left: -2em;
            opacity: 1;
        }
    }

}

/* ------------------------------------------- BACK TO TOP BTN--------------------------------- */
.top {
    --offset: 50px;
    position: sticky;
    bottom: 80px;
    margin-left: 90%;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    text-decoration: none;
    padding: 12px;
    color: #fff;
    background: rgb(6, 156, 194);
    border-radius: 15px;
    white-space: nowrap;
}

/* ----------------------------------------------CONTACTS--------------------------------------- */
.contact1 {
    padding: 2rem 1rem 1rem 1rem;
    background-color: rgb(234, 231, 231);
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin-bottom: 4%;
    border-style: solid;
    border-radius: 12px;
    border-color: #585858;
    font-size: larger;
}

/* ---------------------------------------------FORM------------------------------------- */
form {
    height: 100%;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    background-color: #31286f16;
    padding: 30px;
}

h3 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

[type=email] {
    width: 100%;
    padding: 3px 10px;
    margin: 8px -4px;
    border-radius: 5px;
}

[type=info] {
    width: 100%;
    padding: 3px 10px;
    margin: 8px -4px;
    border-radius: 5px;

}

footer {
    background-image: url('../images/question-mark.JPEG');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: contain;

}



/*---------------------------------------Mobile Size MediaQuery---------------------------------------*/

@media only screen and (max-width: 767px) {

    

    .btn {
        flex: 0;
        padding-top: 12%;
    }

    .topnav a {
        font-size: small;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: large;
    }

    #banner {
        height: 30vh;
        font-size: small;
    }

    .flex-item-php,
    .flex-item-spl,
    .flex-item-css,
    .flex-item-java,
    .flex-item-html {
        flex: 100%;
    }

    /* -----------------------------------------------BAR GRAPH FOR MOBILE----------------------------------------- */

    .graph {
        margin-bottom: 1em;
        font: normal 100%/150% arial, helvetica, sans-serif;
        margin: auto;
    }

    .graph tbody th {
        text-align: right;
        transform:rotate(-45deg);
    }

    @supports (display:grid) {

        @media (min-width:32em) {

            .graph {
                display: block;
                width: 300px;
                height: 300px;
            }

            .graph td {
                width: 60%;
            }

        }

    }
}
@media only screen and (max-width: 511px) {
    .graph tbody th {
        text-align: right;
        transform:rotate(0deg);
    }
    }
    


/*--------------------------------------------Tablet Size MediaQuery---------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #banner{
        height: 71vh;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        font-size: larger;
    }
}

/*---------------------------------------------Laptop Size MediaQuery-----------------------------------------------------------------*/

@media only screen and (min-width: 1025px) {
    #banner{
        height: 84vh;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: larger;
    }
}