.outer {

    display: flex;
    background-color: rgb(169, 208, 208);
    color: rgb(61, 78, 155);
    font-size: larger;
}

#banner {
    height: 95vh;
    background-image: url('../images/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

a:link {
    border-radius: 7px;
    text-decoration: none;
    color: rgb(54, 71, 118);
}

a:hover {
    transition-duration: 1000ms;
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(115, 255, 0);
}

.banner1 {
    /* font-family: 'Arial', sans-serif; */
    text-align:center;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.btn {
    flex: -1;
    padding-top: 12%;
}


.button {
    font-family: 'Consolas', sans-serif;
    font-size: larger;
    color: white;
    background-color: transparent;
    border-style: none;
    border-radius: 7px;
}

.button:hover {
    transition-duration: 1000ms;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}
.topnav > a {
    font-size: 25px;
    padding-left: 2%;
    padding-right: 2%;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: larger;
}
#menu{
    color: black;
}





/*------------------------Mobile Size MediaQuery---------------------------------------*/

@media only screen and (max-width: 767px) {


    .btn {
        flex: 0;
        padding-top: 12%;
    }
}

/*---------------------------Tablet Size MediaQuery-----------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .grid{
        display:grid;
        grid-template-columns: auto auto;
        font-size: larger;
    }
}